<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="/layout/member/css/header.css" rel="stylesheet">
    <link href="/layout/member/css/footer.css" rel="stylesheet">

    <link href="/common/css/story.css" rel="stylesheet">
    <title>Story</title>
</head>
<body>
<header th:insert="~{layout/member/header :: headerContent}"></header>

<p class="user-header-text">브랜드 창립 스토리</p>
<div class="contents">
    <img alt="brandstory" class="user-brandstory-image" src="/common/img/story/brandstory.png">
</div>
<br>
<hr>

<div class="contents2">
    <img alt="logo" class="user-logo-image" src="/member/img/logo/Logo.png">
    <div class="box">
        <p>
            미추홀은 미추홀구 지역의 정체성과 따뜻한 감성을 담은 음식 배달 플랫폼입니다.<br>
            우리는 단순히 음식을 배달하는 것을 넘어, 인천의 맛과 추억을 고객의 일상으로 연결합니다.
        </p>
        <p>
            인천의 맛: 지역의 다채로운 맛집과 글로벌 푸드의 매력을 집으로 전합니다.<br>
            추억의 연결: 고객과 음식, 그리고 지역의 이야기를 잇는 다리가 됩니다.<br>
            편안한 경험: 쉽고 빠른 주문, 정확한 배달로 바쁜 일상 속 여유를 선물합니다.
        </p>
        <p>
            미추홀에서 시작되는 인천의 맛과 감동, 매일의 식사가 특별해집니다.<br>
            인천의 매력을 담은 한 끼, 미추홀이 만들어갑니다.
        </p>
        <p>
            미추홀은 언제나 당신 곁에서, 맛있는 순간을 만들어 갑니다.
        </p>
    </div>
</div>

<footer th:insert="~{layout/member/footer :: footerContent}"></footer>
<script src="/layout/member/js/header.js"></script>
</body>
</html>