.tem-holiday-container {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.tem-holiday-section {
    border-radius: 8px;
    padding: 16px;
}

.tem-holiday-header {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 12px; /* 선과의 간격 추가 */
    border-bottom: 1px solid #e0e0e0; /* 헤더 아래 옅은 회색 선 */
}

.tem-holiday-body {
    margin: 0 auto;
}

.tem-holiday-row {
    display: flex;
    align-items: center;
    justify-content: center; /* 전체 가운데 정렬 */
    gap: 20px; /* 항목 간의 간격 조정 */
    margin-bottom: 15px;
}

.tem-holiday-row label {
    margin-right: 10px;
    font-size: 14px;
}

.tem-holiday-row input[type="date"] {
    width: 120px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.tem-holiday-row span {
    margin: 0 10px;
    font-size: 14px;
}

.tem-holiday-row select {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.tem-holiday-footer {
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가로 가운데 정렬 */
    margin-top: 20px;
}

.tem-confirm-btn {
    background-color: #3a8c3a;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px; /* 기존 패딩 */
    font-size: 14px; /* 기존 글자 크기 */
    cursor: pointer;
    width: 20%
}

.tem-confirm-btn:hover {
    background-color: #2d6f2d;
}

.tem-holiday-row1 {
    display: flex;
}

.tem-label1 {
    margin-left: 6.7%;
    margin-right: 30px;
    font-size: 16px; /* 기존 글자 크기 */
    display: flex; /* Flexbox 모델을 사용 */
    align-items: center; /* 자식 요소들을 수직 가운데 정렬 */
}
