<div class="admin-marketing-container" th:fragment="marketing-editContent">
  <p class="dashboard-text">대시보드</p>
  <!-- 전체 div -->
  <div class="admin-marketing-main">
    <!-- 메인 위쪽 -->
    <div class="admin-marketing-top">
      <!-- 위 왼쪽 -->
      <div class="admin-marketing-top-left-section">
        <div class="marketing-top-box-1">
          <p class="marketing-top-text1">사용자 성비</p>
        </div>
        <div class="marketing-top-box-2">
          <div class = "marketing-top-img1">
            <svg viewBox="-3.815 0 36.47 78.38" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <clipPath id="clip-male" clipPathUnits="userSpaceOnUse">
                  <path d="M22.58,8.16c0,4.51-3.65,8.16-8.16,8.16s-8.16-3.65-8.16-8.16S9.91,0,14.42,0s8.16,3.65,8.16,8.16Z"/>
                  <path d="M26.32,18.59H2.52c-1.39,0-2.52,1.13-2.52,2.52v24.75c0,1.38,1.06,2.58,2.44,2.62,1.43.04,2.6-1.1,2.6-2.52v-21.73c0-.34.27-.61.61-.61h0c.34,0,.61.27.61.61v50.82c0,1.71,1.29,3.2,3,3.31,1.87.12,3.42-1.36,3.42-3.2v-26.68h3.48v26.57c0,1.71,1.29,3.2,3,3.31,1.87.12,3.42-1.36,3.42-3.2V24.24c0-.34.27-.61.61-.61h0c.34,0,.61.27.61.61v21.62c0,1.38,1.06,2.58,2.44,2.62,1.43.04,2.6-1.1,2.6-2.52v-24.86c0-1.39-1.13-2.52-2.52-2.52Z"/>
                </clipPath>
              </defs>
              <g id="male-base">
                <path fill="#eaeaea" d="M22.58,8.16c0,4.51-3.65,8.16-8.16,8.16s-8.16-3.65-8.16-8.16S9.91,0,14.42,0s8.16,3.65,8.16,8.16Z"/>
                <path fill="#eaeaea" d="M26.32,18.59H2.52c-1.39,0-2.52,1.13-2.52,2.52v24.75c0,1.38,1.06,2.58,2.44,2.62,1.43.04,2.6-1.1,2.6-2.52v-21.73c0-.34.27-.61.61-.61h0c.34,0,.61.27.61.61v50.82c0,1.71,1.29,3.2,3,3.31,1.87.12,3.42-1.36,3.42-3.2v-26.68h3.48v26.57c0,1.71,1.29,3.2,3,3.31,1.87.12,3.42-1.36,3.42-3.2V24.24c0-.34.27-.61.61-.61h0c.34,0,.61.27.61.61v21.62c0,1.38,1.06,2.58,2.44,2.62,1.43.04,2.6-1.1,2.6-2.52v-24.86c0-1.39-1.13-2.52-2.52-2.52Z"/>
              </g>
              <g clip-path="url(#clip-male)">
                <!-- 채움 사각형: 초기 y값은 전체 높이(78.38)에서 시작하며 높이는 0 -->
                <rect id="male-fill" x="-3.815" y="78.38" width="36.47" height="0" fill="skyblue"/>
              </g>
            </svg>
            <svg viewBox="0 0 36.47 78.38" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <clipPath id="clip-female" clipPathUnits="userSpaceOnUse">
                  <path d="M26.39,8.16c0,4.51-3.65,8.16-8.16,8.16s-8.16-3.65-8.16-8.16S13.73,0,18.23,0s8.16,3.65,8.16,8.16Z"/>
                  <path d="M36.38,44.51l-6.33-24.04s0-.02,0-.03c-.2-1.05-1.13-1.85-2.24-1.85H8.66c-1.11,0-2.04.8-2.24,1.85,0,0,0,.02,0,.03L.08,44.51c-.35,1.35.45,2.72,1.8,3.08,1.35.35,2.72-.45,3.08-1.8l5.12-19.45v10.88l-4.97,18.9h4.97v19.05c0,1.77,1.44,3.21,3.21,3.21s3.21-1.44,3.21-3.21v-19.02h3.48v19.02c0,1.77,1.44,3.21,3.21,3.21s3.21-1.44,3.21-3.21v-19.02h4.97l-4.97-18.9v-10.91l5.12,19.45c.35,1.35,1.73,2.15,3.08,1.8,1.35-.35,2.15-1.73,1.8-3.08Z"/>
                </clipPath>
              </defs>
              <g id="female-base">
                <path fill="#eaeaea" d="M26.39,8.16c0,4.51-3.65,8.16-8.16,8.16s-8.16-3.65-8.16-8.16S13.73,0,18.23,0s8.16,3.65,8.16,8.16Z"/>
                <path fill="#eaeaea" d="M36.38,44.51l-6.33-24.04s0-.02,0-.03c-.2-1.05-1.13-1.85-2.24-1.85H8.66c-1.11,0-2.04.8-2.24,1.85,0,0,0,.02,0,.03L.08,44.51c-.35,1.35.45,2.72,1.8,3.08,1.35.35,2.72-.45,3.08-1.8l5.12-19.45v10.88l-4.97,18.9h4.97v19.05c0,1.77,1.44,3.21,3.21,3.21s3.21-1.44,3.21-3.21v-19.02h3.48v19.02c0,1.77,1.44,3.21,3.21,3.21s3.21-1.44,3.21-3.21v-19.02h4.97l-4.97-18.9v-10.91l5.12,19.45c.35,1.35,1.73,2.15,3.08,1.8,1.35-.35,2.15-1.73,1.8-3.08Z"/>
              </g>
              <g clip-path="url(#clip-female)">
                <!-- 채움 사각형: 초기 y는 78.38, height는 0 -->
                <rect id="female-fill" x="0" y="78.38" width="36.47" height="0" fill="#ff66b2" opacity="0.5"/>
              </g>
            </svg>
          </div>

        </div>
        <div class="marketing-top-box-3">
          <div class="percent-1">
            <div class="small-box-1"></div>
            <p>남자</p>
            <p id="num1"></p><!-- 비율 -->
          </div>
          <div class="percent-2">
            <div class="small-box-2"></div>
            <p>여자</p>
            <p id="num2"></p><!-- 비율 -->
          </div>
        </div>
      </div>
      <!-- 위 중간 -->
      <div class="admin-marketing-top-center-section">
        <div class="marketing-top-box-1">
          <p class="marketing-top-text2">주문 성비 통계</p>
        </div>
        <div class="marketing-top-box2">
          <canvas id="genderRatio_2" width="140px" height="140px"></canvas>
        </div>
        <div class="marketing-top-box-3">
          <div class="percent-1">
            <div class="small-box-1"></div>
            <p>남자</p>
            <p id="num3"></p><!-- 비율 -->
          </div>
          <div class="percent-2">
            <div class="small-box-2"></div>
            <p>여자</p>
            <p id="num4"></p><!-- 비율 -->
          </div>
        </div>

      </div>

      <!-- 위 오른쪽 -->
      <div class="admin-marketing-top-right-section">
        <div class="marketing-top-box-1">
          <p class="marketing-top-text3">로그인 방식</p>
        </div>
        <div class="marketing-top-row">
          <div class="marketing-top-box-2">
            <canvas id="genderRatio_3" width="140" height="140"></canvas>
          </div>
          <div class="marketing-top-box-3">
            <div class="percent-1">
              <div class="small-box-3"></div>
              <p>웹 로그인</p>
              <p id="num5"></p><!-- 비율 -->
            </div>
            <div class="percent-2">
              <div class="small-box-4"></div>
              <p>네이버</p>
              <p id="num6"></p><!-- 비율 -->
            </div>
            <div class="percent-3">
              <div class="small-box-5"></div>
              <p>카카오</p>
              <p id="num7"></p><!-- 비율 -->
            </div>
            <div class="percent-4">
              <div class="small-box-6"></div>
              <p>구글</p>
              <p id="num8"></p><!-- 비율 -->
            </div>
          </div>
        </div><!-- 가로 -->

      </div>

    </div>

    <!-- 메인 중간 -->
    <div class="admin-marketing-body">
      <!-- 메인 위 -->
      <div class="admin-marketing-body-top-section">
        <p class="marketing-top-text4">원령대별 주문</p>
      </div>
      <!-- 메인 아래 -->
      <div class="admin-marketing-body-bottom-section">
        <canvas id="birthCategoryChart" width="400" height="250"></canvas>
      </div>
    </div>

    <!-- 메인 하단 -->
    <div class="admin-marketing-bottom">
      <!-- 하단 왼쪽 -->
      <div class="admin-marketing-bottom-left-section">
        <div class="marketing-bottom-box-1">
          <p class="marketing-top-text5">회원 등급 현황</p>
        </div>
        <div class="marketing-bottom-box-2">
          <canvas id="gradeChart" width="1100" height="300"></canvas>
        </div>
      </div>
      <!-- 하단 오른쪽 -->
      <div class="admin-marketing-bottom-right-section">
        <div class="marketing-bottom-box-3">
          <p class="marketing-top-text6">최다 주문 회원</p>
        </div>
        <div class="marketing-bottom-box-4">
          <div id="top-order-list"></div>
        </div>
      </div>

    </div>
  </div>
</div>
