.login-container {
    width: 400px;
    margin: 50px auto;
    padding: 30px 30px 50px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    /*padding: 12px;*/
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.login-button button {
    width: 100%;
    padding: 12px;
    background-color: #007fdd;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.login-button button:hover {
    background-color: #0067b6;
}

.options {
    margin-top: 15px;
    font-size: 12px;
}

.options a {
    text-decoration: none;
    color: #555;
}

.sns-login {
    margin-top: 30px;
}

.sns-login p {
    margin-bottom: 10px;
    font-size: 12px;
    color: #777;
}

.sns-login img {
    width: 50px;
    margin: 5px;
}

/* 하단 링크 */
footer {
    margin-top: 50px;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li {
    font-size: 12px;
    color: #777;
    cursor: pointer;
}

/* input 안에 들어간 아이콘 */
.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    padding-left: 50px; /* 아이콘이 겹치지 않게 여백 추가 */
    width: 85%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group .l-icon {
    position: absolute;
    left: 10px; /* 이미지 위치 */
    top: 55%;
    transform: translateY(-50%); /* 세로 중앙 정렬 */
}

.input-group .l-icon img {
    width: 30px; /* 이미지 크기 */
    height: 30px;
    opacity: 0.5;
}

