<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" href="/favicon-2.ico" type="image/x-icon"/>
<head>
    <title></title>
</head>
<body>
<div th:fragment="puchase-order">
    <div class="layout-container">


        <!-- 왼쪽 세로 섹션 -->
        <div class="left-section">
            <div class="order-status" id="orderStatus">
            </div>
        </div>

        <!-- 오른쪽 섹션 -->
        <div class="right-section">
            <!-- 두 번째 섹션 -->

            <div class="order-details1" id="details">
            </div>
            <!-- 세 번째 섹션 -->
            <div class="delivery-info" id="deliveryInfo">
                <p class="no-data">주문서를 선택해주세요.</p>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>
