body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.user-header-text {
    font-size: 30px;
    font-weight: 600;
}

.contents {
    text-align: center;
    margin: 20px 0;
}

.contents img {
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
}

.contents2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    padding: 0 20px;
}

.contents2 img {
    width: 100%;
    max-width: 180px;
    margin-bottom: 30px;
}

.box {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    line-height: 1.8;
    text-align: justify;
    word-break: break-word;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box p {
    padding-left: 50px;
    margin: 20px 0 20px;
    font-weight: 550;
    font-size: 19px;
}