/* 초기화 */
* {
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 50px auto;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;


}

/* 탭 메뉴 스타일 */
.tab-menu {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.tab-button {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border-right: 1px solid #ddd;
}

.tab-button:last-child {
    border-right: none;
}

.tab-button:hover,
.tab-button.active {
    background-color: #ffeef2;
    color: #e91e63;
}

/* 컨텐츠 스타일 */
.content {
    margin: auto;
    padding: 100px;
    width: 1000px;
}

.content h1 {
    font-size: 24px;
    color: #e91e63;
    margin-bottom: 20px;
}

.content h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #444;
}

.content p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.8;
    color: #555;
}

.content {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 1500px;
    overflow-y: scroll;
    font-size: 14px;
    padding: 10px;
    color: #333;
    background: #fafafa;
}

.content::-webkit-scrollbar {
    width: 6px;
}

.content::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.content::-webkit-scrollbar-thumb {
    background: #aaa;
}

.content-out {
    padding-bottom: 50px;
}
